.judul-text {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0.4rem 0;
    color: #fff;
}


.main-view {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 15px 2rem;
}

.main .error {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

input {
    background-color: #181818;
    color: #fff;
    border-radius: 7px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    margin-right: 2px;
    opacity: 0.6;
    filter: invert(0.8);
}
  
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1
}

.album-image.change-image input {
    display: none;
}

.album-image.change-image label {
    size:100%;
    cursor: pointer;
}

.album-top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1rem;
    min-height: 350px;
    max-height: 500px;
}

.album-title-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.album-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-detail {
    padding: 0.5rem 0rem;
}

.album-detail:not(:first-child)::before {
    margin: 0 0.5rem;
}

.album-image {
    margin-right: 1.5rem;
}

.album-image img {
    width: 192px;
    height: 192px;
}

@media screen and (min-width: 768px) {
    .album-image img {
        width: 232px;
        height: 232px;
    }
}

.search-song-title-result {
    min-height: 200px;
}

.search-song-result {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.album-control-button-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 10px 15px;
}

.album-control-button-container button {
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: rgb(30, 215, 96);
    cursor: pointer;
}

.album-control-button-container .delete {
    margin-left: 25px;
    background-color: red;
}
