.judul-text {
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin: 0.4rem 0;
    color: #fff;
}

.main-view {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 2rem 75px 2rem;
}

.album-top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1rem;
    min-height: 350px;
    max-height: 500px;
}

.album-title-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.album-detail-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.album-detail {
    padding: 0.5rem 0rem;
}

.album-detail:not(:first-child)::before {
    content: "•";
    margin: 0 0.5rem;
}

.album-image {
    margin-right: 1.5rem;
}

.album-image img {
    width: 192px;
    height: 192px;
}

@media screen and (min-width: 768px) {
    .album-image img {
        width: 232px;
        height: 232px;
    }
}

.search-song-title-result {
    min-height: 400px;
}

.search-song-result {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}
