*{
    color: white;
    /* font-family: ""; */
    box-sizing: border-box;
}

body{
    background-color: black;
}

h1{
    margin: 10px 100px;
}

h2{
    padding:0px;
}

p{
    font-size:18px;
}

.image-upload{
    size: 100%;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}
.image-upload>input{
    display: none;
}
.image-upload>label{
    size:100%;
    cursor: pointer;
}

#image-input{
    width:250px;
    height: 250px;
}

.container{
    border-radius: 5px;
    background-color: #141414;
    padding: 20px 5px;
    margin: 10px;
}
.col-form{
    float:left;
    padding:0px;
    width:25%;
}

.col-input{
    float:left;
    width:75%;
}

input[type=text],select,textarea{
    color: black;
    width:90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

input[type=date],select,textarea{
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

input[type=submit] {

    background-color: white;
    color: black;
    margin-top: 5px;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1ed760;
  color: white;
  
}

input::file-selector-button {
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.row{
    margin-top:10px;
    display:flex;
    align-items:center;
}

.album{
    color: black; 
}