.main-view {
    padding: 20px;
}

.search-by {
    margin-top: 10px;
    font-size: 13px;
}

.search-by a {
    display: inline-block;
    padding: 7px 12px;
    margin: 5px 5px;
    background-color: #1a1a1a;
    border-radius: 20px;
}

.search-by a:hover {
    background-color: #242424;
    cursor: pointer;
}

.search-by a.active {
    background-color: #fff;
    color: #1a1a1a;
}

.search-sortby-container {
    display: inline-block;
    font-size: 13px;
    margin-top: 10px;
}

.search-sortby-container select {
    margin-right: 10px;
}

.search-song-title-result {
    min-height: 400px;
}

.search-song-result {
    display: flex;
    flex-direction: column;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.song-listentry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 7px 10px 7px 10px;
    border-radius: 7px 7px;
}

.song-listentry:hover {
    background-color: #242424;
}

.song-listentry-thumbnail {
    height: 40px;
    margin-right: 15px;
    width: auto;
}

.song-listentry-titlepenyanyi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.song-listentry-title {
    padding: 3px 0px;
}

.song-listentry-penyanyi {
    padding: 3px 0px;
    font-size: 13px;
    color: rgb(179, 179, 179);
}

.song-listentry-duration {
    padding: 3px 0px;
    font-size: 13px;
    color: rgb(179, 179, 179);
}

.song-listentry-tahunterbit {
    padding: 3px 0px;
    font-size: 13px;
    color: rgb(179, 179, 179);
}

.song-listentry-durationtahunterbit {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.search-pagination {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.page-button {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border: 1px solid;
    color: #fff;
}

.page-button.active {
    color: blue;
}