@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Roboto', sans-serif;;
}

.header{
    display: grid;
    place-items: center;
    border: 1px;
    border-bottom-style: solid;
    border-color:rgb(207, 198, 198);
}

.img{
    width: 220px;
    height: 100px;
}

.center{
    display: grid;
    place-items: center;
    font-weight: bold;
}

.input_form{
    display: grid;
    margin-top: 30px;
}

.form{
    padding-bottom: 12px;
}

.input{
    padding: 15px;
    width: 450px; 
    margin-bottom: 15px;
}

.form_bottom{
    font-size: 15px;
    margin-top: 20px;
}

.form_bottom .register{
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 12px;
    text-decoration: none;
    width: 485px;
    background-color: rgb(56, 233, 56);
    color: black;
    font-weight: bold;
}