.success-page {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding-top: 100px;
}

.success-page img {
    width: 50px;
}

.success-page span {
    margin-left: 15px;
    font-style: italic;
}
